In [1]:
#Importamos os modulos !
import pandas as pd
#Instalamoso pandera no jupyter notebook!
#!pip install pandera
#O panderanos permite criar schemas para validaçãode dados!
import pandera as pa

In [5]:
#Fazemos a leitura do arquivo e passamos um novo separador do arquivo csv, no caso o cenipa usou como padrão ';'!
#Usamos tambem o parse_dates para informar ao pandas qual colunaeledeve interpretrar como data!
#Usamos tambem a passagem de parametro da data para alinha-la e ficar certinho
dataframe = pd.read_csv('ocorrencia1.csv',sep=';', parse_dates=['ocorrencia_dia'],dayfirst = True)
#comando exclusivodojupyter notebook para printar/exibir um valor dentro da variavel!
dataframe.head(10)#obs: podemos usar a função .tail()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,NaN
5,39807,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06,17:53:00,0,NaN,NaN,NaN,NaN,NaN
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0,NaN,NaN,NaN,NaN,NaN
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09,12:30:00,3,NaN,NaN,NaN,NaN,NaN
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2,NaN,NaN,NaN,NaN,NaN
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10,20:00:00,0,NaN,NaN,NaN,NaN,NaN

In [8]:
#Faremos nosso schema para realizar a validaçãoda data!
#faremosisso apos a criaçãodo data frame pois para o schema existir tem de haver o dataframe!
#dentroda variavel schema passamosomodulo pandera comopa e criamos a função dataframeschema com 
#as colunas do data frame como argumentoda função do schema!
schema = pa.DataFrameSchema(
    columns={
        "codigo": pa.Column(pa.Int,required = False)
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes":pa.Column(pa.Int)
    }
)

SyntaxError: invalid syntax (<ipython-input-8-797e6138a701>, line 8)

In [9]:
#comando exclusivodo jupyter notebook!
#exibimos a validação do schema!
schema.validate(dataframe)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,NaN,NaN,NaN,NaN,NaN
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,NaN,NaN,NaN,NaN,NaN
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,NaN,NaN,NaN,NaN,NaN
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,****,2021-08-18,16:00:00,0,NaN,NaN,NaN,NaN,NaN
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,NaN,NaN,NaN,NaN,NaN

#usamos o dtypes para verificarmosos tipos dedadosdentros de nosso dataframe
dataframe.dtypes

#Aqui usamos onosso dataframe na coluna ocorrencia_dia como datetime como 'dt' e extraimos o mes de cada ocorrencia!
dataframe.ocorrencia_dia.dt.month